.row
  #runtimes.col-md-12.courses
    %h3 Courses' runtimes
    .courses

  #starting-soon.col-md-12.courses.hidden
    %h3 Starting soon
    .courses

  #finishing-soon.col-md-12.hidden
    %h3 Finishing soon
    .courses

  .container
    .ajax-loader.hidden
